*:focus {
    box-shadow: 2px 2px 4px 0 lightblue;
} 
.form {
    font-family: Arial, Helvetica, sans-serif;
    width: 470px;
    margin: 20px auto;
}

.menu {
    width: 100%;
    margin: 0;
    padding: 1px;
    background-image: linear-gradient(to bottom, #589dd2 0%, #295691 100%);
    border-radius: 5px;
    box-shadow: 0 5px 5px 0 rgba(140, 150, 159, 0.75);
    z-index: 1;
    position: relative;

}
.menu-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 22px;
    background-image: linear-gradient(to bottom, #82bbe8 0%, #4882ca 100%);
    border-radius: 5px;

}
.menu-list li {
    margin: 0;
    padding: 0;
    border-right: 1px solid #285590;
    width: 100%;
}
.menu-list li:last-child {
    border-right: none;
}

.menu-list-item {
    margin: 0;
    padding: 10px 10px 10px 25px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    text-align: center;
    color: #1b4680;
    font-weight: bold;
}
.menu-list li:last-child .menu-list-item {
    padding-right: 20px;
}

.menu-list-item::before {
    content: '';
    position: absolute;
    bottom: 10px;
    background-repeat: no-repeat;
}
.main::before {
    background-image: url("Img/notepad.png");
    width: 22px;
    height: 21px;
    left: 3px;
}
.ingred::before {
    background-image: url("Img/bottle.png");
    width: 17px;
    height: 26px;
    left: 5px;
}
.param::before {
    background-image: url("Img/plate.png");
    width: 34px;
    height: 26px;
    left: 6px;
}
.glusses::before {
    background-image: url("Img/goblet.png");
    width: 13px;
    height: 26px;
    left: 5px;
}
.param {
    padding-left: 45px;
}

.container {
    width: 442px;
    border-radius: 5px;
    background-color: #e9e9e9;
    margin: 0;
    padding: 30px 15px 0;
    position: relative;
}
.container .form-block {
    border: none;
    margin: 0;
    padding: 0;
}
legend {
    font-size: 13px;
    line-height: 22px;
    margin: 0;
    padding: 0;
    position: relative;
    margin-bottom: 8px;
    color: #505050;
    text-align: left;
    width: 100%;
}
legend.legend-index {
    padding-left: 25px;
}
legend.legend-ingredients,
legend.legend-glass {
    padding-left: 20px;
}
legend.legend-param {
    padding-left: 40px;
    z-index: 1;
}

.legend-index::before,
.legend-ingredients::before,
.legend-param::before,
.legend-glass::before,
.legend-ingredients::after  {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    
    
}
.legend-index::before {
    background-image: url("Img/notepad-gr.png");
    width: 22px;
    height: 21px;
    left: 0;
    top: -2px;
}
.legend-ingredients::before {
    background-image: url("Img/bottle-gr.png");
    width: 17px;
    height: 32px;
    left: 0;
    top: -12px;
}

/*
.legend-ingredients::after {
    background-image: url("Img/strawberry.png");
    width: 24px;
    height: 21px;
    right: 35px;
    top: -2px;*/

.strawberry {
    display: inline-block;
    width: 24px;
    height: 21px;
    background-image: url("Img/strawberry.png");
    background-repeat: no-repeat;
    position: absolute;
    right: 35px;
    top: -2px;
    transition: top 1s ease-out 3s;
    /*right: 35px;
    top: -2px;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center 15px;
    z-index: 1;
    position: absolute;*/

}
.strawberry::after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("Img/three.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    z-index: 2;
    left: 5px;
    top: -17px;
    position: absolute;
    display: none;
    transition: top 1s ease-out 3s;
}
.strawberry::before {
    content: 'Улучшения?';
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    line-height: 22px;
    padding: 0 8px;
    border-radius: 2px;
    background-image: linear-gradient(to top, #81bae8, #4a84cb);
    z-index: 1;
    left: -27px;
    top: -35px;
    position: absolute;
    border: 1px solid rgb(52, 85, 128);
    display: none;
    transition: top 1s ease-out 3s;
}
.strawberry:hover::before,
.strawberry:hover::after {
    display: inline-block;
    margin: 0;


}


.legend-param::before {
    background-image: url("Img/plate-gr.png");
    width: 34px;
    height: 26px;
    left: 0;
    top: -6px;
}
.legend-glass::before {
    background-image: url("Img/goblet-gr.png");
    width: 13px;
    height: 26px;
    left: 0;
    top: -8px;
}



.form-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.form-area .part-1 {
    
    margin: 0;
    padding: 0;
    flex-direction: row;
    flex-basis: 102px;
}
.form-area .picture {
    margin: 0;
    padding: 0;
    /*width: 100px;
    height: 140px;*/
    border: 1px solid #8c969f;
    border-radius: 5px;
    background-color: #ffffff;  
    margin-bottom: 8px;
}
.form-area .picture .img {
    margin: 0;
    padding: 0;
    background-image: 
        url('Img/glass-1.png'),
        linear-gradient(to bottom, #659ed9, #82bbe8);
    background-repeat: no-repeat;
    background-position: center 3px, 100% 100%;
    width: 90px;
    height: 130px;
    margin: 5px;
}
.button {
    display: block;
    margin: 0;
    margin-bottom: 8px;
    font-size: 12px;
    text-align: center;
    background-image: linear-gradient(to bottom, #80bae7, #4d86cd);
    border: 1px solid;
    border-image: linear-gradient(to bottom, #589dd1, #2b5892);
    color: #ffffff;
    width: 100%;
    height: 24px;
    border-radius: 5px;
}
.button:hover {
    cursor: pointer;
}

.part-2 {
    margin: 0;
    padding: 0;
    width: 327px;
}

.part-2 input,
#instraction {
    margin: 0;
    margin-bottom: 8px;
    padding: 10px;
    border: 1px solid #8c969f;
    width: 305px;
    border-radius: 5px;
    box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.36)
}
.part-2 #about {
    height: 62px;

}

.part-3 {
    margin: 0;
    padding: 0;
    width: 100%;
}

#instraction {
    margin: 0;
    width: calc(100% - 22px);
    height: 98px;
    margin-bottom: 15px;

}
input {
    color: #6b6b6b;

}

input::placeholder {
    font-size: 11px;
    line-height: 22px;
    color: #a6acb2;
}
.menu-next {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}

.menu-next .menu-next-href {
    display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: 1px;
    background-image: linear-gradient(to bottom, #589dd2, #295691);
    margin-bottom: 15px;
    border-radius: 5px;
}
.menu-next .menu-next-href a {
    display: inline-block;
    text-decoration: none;
    margin: 0;
    font-size: 12px;
    line-height: 20px;
    padding: 0px 4px;
    text-align: center;
    color: #ffffff;
    background-image: linear-gradient(to bottom, #82bbe8 0%, #4882ca 100%);/*уточниться*/
    border-radius: 5px;
}


.hidden {
    visibility: hidden;
}

.current {
    background-image: linear-gradient(to bottom, #589dd2 0%, #2a5792);
    color: #ffffff;
}
input:hover,
.button:hover,
.menu-next-href:hover,
.menu-list-item:hover {
box-shadow: 0 0 12px 0 gray;
}

/*Ingredients*/
.form-list-item {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 11px;
    line-height: 22px;
}
.form-list-item:last-child {
    margin-bottom: 26px;
}

.form-list-item .name-ingrid,
.form-list-item #amount,
.form-list-item .name-cons,
.form-list-item .checkbox-ingred {
    border-radius: 5px;
    border: 1px solid #a6acb2;
    padding: 3px 10px;
    box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.36);
    margin-right: 15px;
}

.form-list-item .name-ingrid {
    width: 205px;
}
.form-list-item #amount {
    width: 58px;
}
.form-list-item .name-cons {
    width: 92;
    margin-right: 23px;
}
.form-list-item select option:first-child,
.form-list-item select option:disabled {
    color: #a6acb2;
}
.form-list-item .checkbox-ingred{
    width: 15px;
    height: 15px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 1);
    background-image: linear-gradient(to bottom, #dee4ea, #f5f7f9);
    padding: 0;
    position: relative;
    margin: 4px 0;
}
.checkbox-ingred::after {
    content: '';
    position: absolute;
    left: 3px;
    top: 3px;
    width: 8px;
    height: 4px;
    border-left: 2px solid #5187b9;
    border-bottom: 2px solid #5187b9;
    transform: rotate(-45deg);
    display: none;
}
#checkbox-ingred {
    display: none;
}
#checkbox-ingred:checked + .checkbox-ingred::after {
    display: inline-block;
}


/*Parametres*/

.form-list-item-inputs {
    flex-wrap: wrap;
}
.form-list-item-inputs label {
    width: 32%;
    border: 1px dashed grey;
}





/*
.menu-next a::before {
    content: '';
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    width: 100%;
    height: 22px;
    background-image: linear-gradient(to bottom, red, green);
    line-height: 20px;
    padding: 0 4px;
    z-index: -1;
}

/*
.part-1 p {
    display: block;
    margin: 0;
    padding: 5px;
    width: 90px;
    min-height: 140px;
    border: 1px solid #8c969f;
    border-radius: 5px;
    background-color: #ffffff;
    margin-bottom: 8px;
}
.part-1 p img {
    background-image: 
    url('Img/glass-1.png'),
    linear-gradient(to bottom, #659ed9, #82bbe8);
    background-repeat: no-repeat;
    background-position: center 10px, center bottom;
    width: 100%;
    height: 130px;
    display: inline-block;
}
.part-2 {
    display: flex;
    margin-bottom: 8px;
    flex-direction: column;
    margin-left: 10px;
}
.part-2 input {
    margin-bottom: 8px;
    border: 1px solid #8c969f;
    width: 325px;
    border-radius: 5px;
}
.part-3 {
    width: 100%;
    border-radius: 5px;
    min-height: 
}


/*
.form-area .image {
    width: 100px;
    margin: 0 0 8px 0;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #8c969f;
    background-image: 
        url('Img/glass-1.png'),
        linear-gradient(to bottom, #659ed9, #82bbe8);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-color: #ffffff;
    width: 90px;
    min-height: 140px; 
    align: center;
}*/

